* {

  box-sizing: border-box;

}
body {

  font-family: 'married typefaces', sans-serif;

}
.scene {
     width: 100%;
     height: 100%;
	 min-height: 500px;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 background-color: #8b00ff;
	 transform: translate3d(0, 0, 0);
}
.layer-6 {
     animation: animation_fg linear 100s infinite both; 
	 background:#6600ff url(https://github.com/novaKnova/nnnnnnn/blob/main/067a7a3cf9dbed6dd83831307d9c5462.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 512px;
}
.layer-5 {
     animation: animation_fg linear 90s infinite both; 
	 background: #0000ff
         url(https://github.com/novaKnova/nnnnnnn/blob/main/1614579222_71-p-les-na-belom-fone-117.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 255px;
}
.layer-4 {
     animation: animation_fg linear 70s infinite both; 
	 background:#423189
         url(https://github.com/novaKnova/nnnnnnn/blob/main/32-20220208_123944-1536x769.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 295px;
}
.layer-3 {
     animation: animation_fg linear 65s infinite both; 
	 background: #7851A9
    url(https://github.com/novaKnova/nnnnnnn/blob/main/Fence_Silhouette_PNG_Clip_Art.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 300px;
}
.layer-2 {
     animation: animation_fg linear 50s infinite both; 
	 background: #8673A1
url(https://github.com/novaKnova/nnnnnnn/blob/main/7791377bd337e90bd08ad8f3752bf753.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 150px;
}
.layer-1 {
     animation: animation_fg linear 45s infinite both; 
	 background: #46394B
    url(https://i.ibb.co/z82BrQ3/Mask-group-1200-94.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 94px;
}
.object-1 {
     background: #DDA0DD
    url(https://github.com/novaKnova/nnnnnnn/blob/main/babochka.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 188px;
	 animation: animation_object linear 15s infinite both;
}
.object-2 {
     background: #DDA0DD url(https://github.com/novaKnova/nnnnnnn/blob/main/45cdd5c10a06ece2ce5f148b6d627a37.gif) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 200px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 110px;
	 animation: animation_object linear 10s infinite both;
}
@keyframes animation_fg {
 0% {
background-position: 2765px 100%;
}
100% {
    background-position: 550px 100%;
  }
}
@keyframes animation_object {
0% {
background-position: -300px 100%;
}
  100% {
background-position: 2000px 100%;
}
}